header.header
  .inner
    .top-header
      .my-city
        a(href="/")
          +icon('point-map') 
          span Москва
        a(href="/") 49 центров: выбрать свой
          +icon('arrow')  
      .etc-inf
        a(href="/") Доставка и оплата
          +icon('arrow')
        a(href="/") Покупателю
          +icon('arrow')
        a.stock(href="/") 
          +icon('star')
          span Акции
        a(href="/") Наши центры
        a.office(href="/") 
          span Мой кабинет
    .center-header
      .item
        .logo
          a(href="/")
            +icon('logo')
        .phone
          a(href="/") 8 (800) 100-68-78 
          a(href="/") 8 (495) 544-02-02
        .request
          a(href="/") Заказать звонок
      .item
        .tire-service
          a(href="/")
            +icon('car-wheel')  
            p Записаться 
               span на шиномонтаж
        .auto-repait
          a(href="/")
            +icon('customer-support')
            p Записаться 
               span на автосервис
      .item 
        .compare
          a(href="/")
            +icon('compare')
        .heart
          a(href="/")
            +icon('heart')
        .shopping-cart
          a(href="/")
            +icon('shopping-cart')
            span 4







