@import 'common/header';
@import 'common/global';
@import 'common/footer';

body {
  .wrapper {
    .inner {
      max-width: 1140px;

// calculator

      .tooltip {
        position: relative;
        border-bottom: 1px dotted #0077AA;
        cursor: help;
        &:after {
          background: #fff;
          border-radius: 5px 5px 5px 0px;
          box-shadow: 0 0 12px rgba(0,0,0,.1);
          color: #aaa;
          content: attr(data-tooltip); /* Главная часть кода, определяющая содержимое всплывающей подсказки */
          margin-top: -24px;
          opacity: 0; /* Наш элемент прозрачен... */
          padding: 3px 7px;
          position: absolute;
          visibility: hidden; /* ...и скрыт. */     
          transition: 0.3s;
          top: -50%;
          left: 115%;
          width: 200px;
        }
        
      }    
      .tooltip {
        &:hover {
          &:after {
            opacity: 1; /* Показываем его */
            visibility: visible;
          }
        }
      }


      .tabs__content {
        display: none;
      }
      .tabs__content.active {
        display: block;
      }
      .calculator {
        position: relative;
        margin: 40px 0px 60px 0px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 25px 80px 37px 80px;
        &:before {
          content: '';
          position: absolute;
          background: url('../img/tire_car 1.png') no-repeat;
          background-size: contain;
          bottom: -16.7%;
          right: 0;
          width: 301px;
          height: 238px;
        }
        .row-product {
          border-bottom: 1px solid #e5e5e5;
          .block-product {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            span {
              position: relative;
              display: block;
              margin-right: 25px;
              font: 400 20px/26px $font;
              color: #aaa;
              padding-bottom: 6px;
              cursor: pointer;
              transition: 0.3s;
              &:after {
                position: absolute;
                content: '';
                width: 100%;
                height: 3px;
                background-color: transparent;
                bottom: -1px;
                right: 0;
                opacity: 0;
                transition: 0.3s;
          }
            }
            span.active {
              color: #e22f22;
              transition: 0.3s;
              cursor: default;
              &:after {
                position: absolute;
                content: '';
                width: 100%;
                height: 3px;
                background-color: #e22f22;;
                bottom: -1px;
                right: 0;
                opacity: 1;
                transition: 0.3s;
          }
            }
          }
        }
        .row-parameters {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          .dash {
            margin: 0 20px;
            margin-bottom: 10px;
            color: #222;
            align-self: flex-end;
          }
          .block-product {
            z-index: auto;
            margin-right: 40px;
            &:nth-child(1) {
              margin-right: 0;
            }          
            label {
              margin: 21px 0px 12px 0px;
              display: block;
              color: #555;
              font: 400 13px/22px $font;
              position: relative;
              span {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                margin-left: 11px;
                font: 400 12px/22px $font;
                width: 18px;
                height: 18px;
                border: 1px solid #e5e5e5;
                box-sizing: border-box;
                border-radius: 50%;
                z-index: 0;
                &:hover {
                  z-index: 10;
                }
              }
            }

            .select {
              position: relative;
            }
            .select.is-active .select__body {
              display: block;
            }
            
            .select__header {
              position: relative;
              position: relative;
              padding: 4px 66px 4px 10px;
              font: 400 13px/22px $font;
              color: #555;
              background: #f9f9fa;
              border: 1px solid #e5e5e5;
              border-radius: 5px; 
              cursor: pointer;
              .select-arrow-button {
                position: absolute;
                background: #fff;
                border-left: 1px solid #e5e5e5;
                border-radius: 0px 5px 5px 0px;
                height: 94%;
                width: 30px;
                right: 1px;
                top: 1px;
                pointer-events: none;
                z-index: 1;
                &:before {
                  content: "";
                  display: block;
                  background: url('../img/arrow-form.png') no-repeat;
                  background-size: contain;
                  pointer-events: none;
                  position: absolute;
                  width: 13px;
                  height: 8px;
                  top: 40%;
                  right: 8px;
                }
              }
              .select__current {
                cursor: pointer;
              }
            }
            
            .select__body {
              display: none;
              position: absolute;
              position: absolute;
              width: 100%;
              color: #555;
              font: 400 13px/22px $font;
              background: #fff;
              box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
              border-radius: 5px;
              transition: 0.3s;
            }
            .select__item {
              cursor: pointer;
              padding: 4px 10px;
              transition: 0.3s;
              &:hover {
                opacity: 0.7;
              }
            }
            

          }
        }
        .row-view {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin: 35px 0;
           .season, .thorns {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-radius: 5px;
            border: 1px solid #e5e5e5;
            .block-view {  
              border-right: 1px solid #e5e5e5;
              background: #f9f9fa;
              cursor: pointer;
              &:nth-child(4) {
                border: none;
                label {
                  border-radius: 0 5px 5px 0;
                }
              }
              &:nth-child(1) {
                label {
                  border-radius: 5px 0 0 5px;
                }
              }
              input[type=radio] {
                display: none;
            }
              input {
                &:checked + label {
                  background-color: #555;
                  color: #fff;
                }
              }
              label {
                font: 400 13px/22px $font;
                color: #222;
                cursor: pointer;
                padding: 9px 20px;
                display: block;
                transition: 0.3s;
              }
            }
          }
          .thorns {
            margin-left: 40px;
            .block-view {
              &:nth-child(3) {
                border: none;
                label {
                  border-radius: 0 5px 5px 0;
                }
              }
            }
              
            }
          }
        }
        .row-lifetime {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin: 36px 0;
          .block-lifetime {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 35px;
            .check {
              display: inline-block;
              width: 20px;
              height: 20px;
              border: 1px solid #e5e5e5;
              border-radius: 3px;
              margin-right: 10px;
              position: relative;
              transition: 0.3s;
              &:before {
                content: "";
                  position: absolute;
                  background: url('../img/check.png') no-repeat;
                  background-size: contain;
                  width: 10px;
                  height: 8px;
                  opacity: 0;
              }
            }
            label {  
              font: 400 13px/22px $font;
              color: #555;
              transition: 0.3;
              display: inline-block;
              cursor: pointer;
              .question {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 18px;
                height: 18px;
                font: 400 12px/22px $font;
                color: #555;
                border: 1px solid #e5e5e5;
                border-radius: 50%;
                margin-left: 8px;
              }
            }
            input {
              &:checked + .check {
                background: #555;
                display: flex;
                justify-content: center;
                align-items: center;
                &:before {
                  content: "";
                  position: absolute;
                  background: url('../img/check.png') no-repeat;
                  background-size: contain;
                  width: 10px;
                  height: 8px;
                  opacity: 1;
                }
              }
            }
            input[type=checkbox] {
              display: none;
            }
          }
        }
        .row-select {
          button {
            font: 700 15px/23px $font;
            color: #fff;
            border: 1px solid #e22f22;
            background: #e22f22;
            border-radius: 5px;
            padding: 17px 42px;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
              background: #fff;
              color: #e22f22;
            }
          }
          
        }

        // calculator

        // stocks

        .stocks {
          margin-bottom: 60px;
          .row-stocks-1 {
            .block-stocks {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 30px;
              p {
                color: #222;
                &:nth-child(1) {
                  font: 700 20px/22px $font;
                  text-transform: uppercase;
                }
                &:nth-child(2) {
                  position: relative;
                &:before {
                  content: '';
                  border-bottom: 1px dotted #555;
                  width: 100%;
                  height: 1px;
                  position: absolute;
                  bottom: -1px;
              }
                a {
                  font: 400 13px/22px $font;
                  color: #555;
                  &:hover {
                    opacity: 0.7;
                  }
              }
            }
            }
          }
          }
          .row-stocks-2 {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            .block-stocks-img-1 {
              position: relative;
              width: 490px;
              height: 360px;
              background: url('../img/block-stocks-img-1.png') no-repeat;
              background-size: contain;
              padding-top: 60px;
              transition: 0.3s;
              &:hover {
                opacity: 0.7;
              }
              a {
                position: absolute;
                width: 100%;
                display: block; 
                text-align: center; 
                margin-top: -60px;
                z-index: 1;
              }
              .red {
                display: inline-block;
                font: 700 24px/23px $font;
                color: #fff;
                background: #e22f22;
                padding: 13px 20px;
              }
              .white {
                position: relative;
                display: inline-block;
                font: 700 15px/22px $font;
                color:#222;
                background: #fff;
                box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
                padding: 11px 20px;
                &:before {
                  content: '';
                  position: absolute;
                  right: -20px;
                  bottom: -20px;
                  width: 40px;
                  height: 40px;
                  background: url('../img/cursor.png') no-repeat;
                  background-size: contain;
                }
              }
            }
            .block-stocks-img-2 {
              position: relative;
              width: 330px;
              height: 360px;
              background: url('../img/block-stocks-img-2.png') no-repeat;
              background-size: contain;
              padding-bottom: 45px;
              margin: 0 20px;
              transition: 0.3s;
              display: flex;
              align-items: flex-end;
              &:hover {
                opacity: 0.7;
              }
              a {
                position: absolute;
                width: 100%;
                display: block; 
                text-align: center; 
                margin-bottom: -45px;
                z-index: 1;
              }
              .red {
                width: 237px;
                display: inline-block;
                font: 700 14px/20px $font;
                color: #fff;
                background: #e22f22;
                padding: 8px 16px;
              }
            }
            .block-stocks-two {
              .block-stocks-img-3 {
                position: relative;
                width: 280px;
                height: 170px;
                background: url('../img/block-stocks-img-3.png') no-repeat;
                background-size: contain;
                transition: 0.3s;
                display: flex;
                align-items: flex-end;
                &:hover {
                  opacity: 0.7;
                }
                a {
                  position: absolute;
                  width: 100%;
                  display: block; 
                  text-align: center; 
                  z-index: 1;
                }
                .red {
                  width: 244px;
                  display: inline-block;
                  font: 400 13px/20px $font;
                  color: #fff;
                  background: #e22f22;
                  padding: 5px 50px 5px 21px;
                }
              }
              .block-stocks-img-4 {
                position: relative;
                width: 280px;
                height: 170px;
                background: url('../img/block-stocks-img-4.png') no-repeat;
                background-size: contain;
                transition: 0.3s;
                display: flex;
                align-items: flex-end;
                margin-top: 20px;
                &:hover {
                  opacity: 0.7;
                }
                a {
                  position: absolute;
                  width: 100%;
                  display: block; 
                  text-align: center; 
                  z-index: 1;
                }
                .red {
                  width: 244px;
                  display: inline-block;
                  font: 400 13px/20px $font;
                  color: #fff;
                  background: #e22f22;
                  padding: 5px 50px 5px 21px;
                }
              }
            }
          }

      }
      // stocks

      // catalog
      
      .catalog {
        margin-bottom: 60px;
        .row-catalog {
          &-1, &-2 {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            p {
              font: 700 20px/22px $font;
              color: #222;
              text-transform: uppercase;
            }
          }
          &-1 {
            margin-bottom: 36px;
          }
         
        }
        .block-catalog {
          &-1, &-2, &-3, &-4, &-5 {
            position: relative;
            width: 220px;
            height: 150px;
            margin-right: 10px;
            background: #e5e5e5;
            border-radius: 5px;
            transition: 0.3s;
            &:after {
              content: '';
              position: absolute;
              right: 0;
              bottom: 0;
              width: 130px;
              height: 80px;
              background-size: contain;
            }
            &:hover {
              background: #e22f22;
              p {
                color: #fff;
              }
            }
            a {
              position: absolute;
              width: 100%;
              display: block; 
              text-align: center; 
            }
            p {
              font: 400 18px/24px $font;
              color: #222;
              text-transform: uppercase;
              margin: 25px 0 0 20px;
            }
          }     
          &-1 {
            &:after {
              background: url('../img/block-catalog-1.png') no-repeat;
            }
          }
          &-2 {
            &:after {
              background: url('../img/block-catalog-2.png') no-repeat;
            }
          }
          &-3 {
            &:after {
              background: url('../img/block-catalog-3.png') no-repeat;
            }
          }
          &-4 {
            &:after {
              background: url('../img/block-catalog-4.png') no-repeat;
            }
          }
          &-5 {
            &:after {
              background: url('../img/block-catalog-5.png') no-repeat;
            }
          }
        }
      }

      // catalog
      } 
    }
  }

