@import '../mixins/media';

.footer {
  background: #f9f9fa;
  .inner {
    .row-footer {
      &-1 {
        border-bottom: 1px solid #e5e5e5;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 30px 0 40px 0;
        .block-footer {
          &-1,
          &-2,
          &-3 {
            p {
              font: 700 15px/23px $font;
              color: #222;
              margin-bottom: 7px;
            }
            a {
              font: 400 13px/22px $font;
              color: #555;
              margin-bottom: 7px;
              height: auto;
              transition: 0.3s;
              &:hover {
                opacity: 0.7;
              }
            }
          }
          &-4 {
            p {
              font: 700 15px/23px $font;
              color: #222;
              margin-bottom: 12px;
            }
            .input-footer {
              display: flex;
              align-items: center;
              width: 320px;
              margin-bottom: 26px;
              input {
                width: 100%;
                height: 43.64px;
                font: 400 13px/22px $font;
                color: #555;
                background: #fff;
                border: 1px solid #e5e5e5;
                border-radius: 5px 0 0 5px;
                padding-left: 18px;
              }
              button {
                border: none;
                background: #e22f22;
                border-radius: 0 5px 5px 0;
                padding: 8px 13px;
                cursor: pointer;
                transition: 0.3;
                &:hover {
                  opacity: 0.7;
                }
                .icon-email-outline {
                  width: 24px;
                  height: 24px;
                }
              }
            }
            .social-footer {
              a {
                display: inline-block;
                height: auto;
                transition: 0.3s;
                margin-right: 18px;
                &:hover {
                  opacity: 0.7;
                }
                svg {
                  width: 32px;
                  height: 32px;
                }
              }
            }
          }
        }
      }
      &-2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 30px 0;
        border-bottom: 1px solid #e5e5e5;
        .block-footer {
          &-1 {
            a {
              height: auto;
              transition: 0.3s;
              svg {
                width: 20px;
                height: 20px;
                margin-right: 10px;
              }
              span,
              p {
                font: 400 13px/22px $font;
                color: #555;
              }
              p {
                margin-left: 30px;
              }
              &:hover {
                opacity: 0.7;
              }
            }
          }
          &-2 {
            a {
              height: auto;
              transition: 0.3s;
              margin-bottom: 7px;
              &:hover {
                opacity: 0.7;
              }
              span {
                font: 400 13px/22px $font;
                color: #222;
              }
              .icon-footer-phone {
                width: 20px;
                height: 20px;
                margin-right: 10px;
              }
              .icon-footer-envelope {
                width: 20px;
                height: 12px;
                margin-right: 10px;
              }
              &:nth-child(2) {
                margin-left: 30px;
                font: 400 13px/22px $font;
                color: #222;
              }
            }
          }
          &-3 {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 320px;
            .block-img {
              &-1 {
                margin-right: 40px;
                a {
                  margin-bottom: 10px;
                }
              }
              &-1,
              &-2 {
                a {
                  height: auto;
                  transition: 0.3s;
                  &:hover {
                    opacity: 0.7;
                  }
                }
              }
            }
          }
        }
      }
      &-3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px 0;
        .block-footer {
          &-1 {
            opacity: 0.5;
          }
          &-1,
          &-2,
          &-3 {
            a {
              font: 400 13px/22px $font;
              color: #555;
              height: auto;
              transition: 0.3s;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
      }
    }
    @include media-laptop {
      .row-footer {
        &-1,
        &-2,
        &-3 {
          width: 98%;
          margin: 0 auto;
        }
      }
    }
    @include media-tablet-horizontal {
      .row-footer {
        &-1,
        &-2,
        &-3 {
          width: 90%;
          margin: 0 auto;
        }
        &-2 {
          .block-footer {
            &-1,
            &-2,
            &-3 {
              width: 30%;
            }
          }
        }
        &-1 {
          .block-footer {
            &-1,
            &-2,
            &-3,
            &-4 {
              width: 50%;
              margin-top: 15px;
            }
          }
        }
      }
    }
    @include media-tablet {
      .row-footer {
        &-1 {
          .block-footer {
            &-1,
            &-2,
            &-3,
            &-4 {
              width: 50%;
            }
            &-1 {
              padding-top: 0;
            }
            &-4 {
              .input-footer {
                width: 100%;
              }
            }
          }
        }
        &-2 {
          .block-footer {
            &-1,
            &-2,
            &-3 {
              width: 50%;
              margin: 10px 0;
            }
          }
        }
      }
    }
    @include media-mobile {
      .row-footer {
        &-1,
        &-2,
        &-3 {
          width: 98%;
        }
        &-1 {
          padding: 30px 0 25px 0;
          .block-footer {
            &-1,
            &-2,
            &-3,
            &-4 {
              width: 100%;
              padding-top: 25px;
            }
            &-2,
            &-3 {
              border-top: 1px solid #e5e5e5;
            }
            &-4 {
              .input-footer {
                width: 100%;
              }
            }
          }
        }
        &-2 {
          .block-footer {
            &-1,
            &-2,
            &-3 {
              width: auto;
              margin: 0;
              a {
                margin: 12px 0;
              }
            }
            &-3 {
              justify-content: center;
            }
          }
        }
        &-3 {
          .block-footer {
            &-1,
            &-2,
            &-3 {
              margin: 6px 0;
            }
          }
        }
      }
    }
  }
}
