extends common/layout
block variables
  -var pageTitle ='actions'
block content
  main
    .inner 
      .breadcrumb 
        a(href="index.html") Главная 
        p – Акции 
      h1 Акции
      .actions
        .row-actions-1
          .poster
            a(href="")
              img(src="img/poster.png", alt="")
        .row-actions-2
          .block-actions
            a(href="actions-card.html")
              img(src="img/block-action-1.png", alt="")
              p Черная пятница в сети шинных центров КОЛЕСО
          .block-actions
            a(href="actions-card.html")
              img(src="img/block-action-2.png", alt="")
              p Покупай со Сбербанком в кредит без переплаты!
          .block-actions
            a(href="actions-card.html")
              img(src="img/block-action-3.png", alt="")
              p Бесплатный шиномонтаж и сезонное хранение зимних шин Michelin
          .block-actions
            a(href="actions-card.html")
              img(src="img/block-action-4.png", alt="")
              p Испытайте зимние шины MICHELIN
        .row-actions-3
          .block-actions
            a(href="actions-card.html")
              img(src="img/block-action-5.png", alt="")
              p Зимние шины марки Michelin со скидкой 10%
          .block-actions
            a(href="actions-card.html")
              img(src="img/block-action-6.png", alt="")
              p Бесплатный шиномонтаж зимних шин Nokian Tyres
          .block-actions
            a(href="actions-card.html")
              img(src="img/block-action-7.png", alt="")
              p Бесплатный шиномонтаж зимних шин Dunlop и сезонное хранение в подарок
          .block-actions
            a(href="actions-card.html")
              img(src="img/block-action-8.png", alt="")
              p Покупай со Сбербанком в кредит без переплаты!
