extends common/layout
block variables
  -var pageTitle ='Главная'
block content
  main
    .inner 
      .calculator.tabs
        form(action="form", method="post")
          .row-product
            .block-product.tabs__caption
              span.active Шины
              span Диски
              span По авто
          .tabs__content.active
            .row-parameters
              .block-product
                label Ширина
                  span ?
                .list.__select(data-state="") 
                  .select-arrow-button
                  .__select__title(data-default="205") 205
                  .__select__content
                    input.__select__input(type="radio", name="singleSelect0")
                    label.__select__label(for="singleSelect0") 205
                    input.__select__input(type="radio", name="singleSelect1")
                    label.__select__label(for="singleSelect1") 210
                    input.__select__input(type="radio", name="singleSelect2")
                    label.__select__label(for="singleSelect2") 215
              span.dash /
              .block-product
                label Высота
                  span ?
                .list.__select1(data-state="")
                  .select-arrow-button
                  .__select__title(data-default="55") 55
                  .__select__content
                    input.__select__input#singleSelect0(type="radio", name="singleSelect0")
                    label.__select__label(for="singleSelect0") 55
                    input.__select__input#singleSelect1(type="radio", name="singleSelect1")
                    label.__select__label(for="singleSelect1") 65
                    input.__select__input#singleSelect2(type="radio", name="singleSelect2")
                    label.__select__label(for="singleSelect2") 75
              .block-product
                label Диаметр
                  span ?
                .list.__select(data-state="")
                  .select-arrow-button
                  .__select__title(data-default="R 15") R 15
                  .__select__content
                    input.__select__input#singleSelect0(type="radio", name="singleSelect0")
                    label.__select__label(for="singleSelect0") R 15
                    input.__select__input#singleSelect1(type="radio", name="singleSelect1")
                    label.__select__label(for="singleSelect1") R 16
                    input.__select__input#singleSelect2(type="radio", name="singleSelect2")
                    label.__select__label(for="singleSelect2") R 17
              .block-product
                label Производитель
                  span ?
                .list.__select(data-state="")
                  .select-arrow-button
                  .__select__title(data-default="Производитель 1") Производитель 1
                  .__select__content
                    input.__select__input#singleSelect0(type="radio", name="singleSelect0")
                    label.__select__label(for="singleSelect0") Производитель 1
                    input.__select__input#singleSelect1(type="radio", name="singleSelect1")
                    label.__select__label(for="singleSelect1") Производитель 2
                    input.__select__input#singleSelect2(type="radio", name="singleSelect2")
                    label.__select__label(for="singleSelect2") Производитель 3
            .row-view
              .season
                .block-view
                  input#check1(type="radio", name="checkbox1") 
                  label(for="check1") Все 
                .block-view
                  input#check2(type="radio", name="checkbox1")
                  label(for="check2") Зима
                .block-view
                  input#check3(type="radio", name="checkbox1")
                  label(for="check3") Лето 
                .block-view
                  input#check4(type="radio", name="checkbox1")
                  label(for="check4") Всесезонные 
              .thorns
                .block-view
                  input#check5(type="radio", name="checkbox2")
                  label(for="check5") Без шипов
                .block-view
                  input#check6(type="radio", name="checkbox2")
                  label(for="check6") Шипованные 
                .block-view
                  input#check7(type="radio", name="checkbox2")
                  label(for="check7") Не важно
            .row-lifetime 
              .block-lifetime 
                input#check8(type="radio", name="checkbox3") 
                label.check(for="check8")
                label.text(for="check8") RunFlat
                  span.question ?
              .block-lifetime 
                input#check9(type="radio", name="checkbox3") 
                label.check(for="check9")
                label.text(for="check9") Коммерческие
              .block-lifetime 
                input#check10(type="radio", name="checkbox3")
                label.check(for="check10")
                label.text(for="check10") Распродажа
            .row-select
              button(type="submit") ПОДОБРАТЬ ШИНЫ
          .tabs__content
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, pariatur facilis. Tempore quam repellat atque neque fuga, facilis corrupti omnis non quas similique, obcaecati accusamus aliquam ad molestias quae asperiores.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, pariatur facilis. Tempore quam repellat atque neque fuga, facilis corrupti omnis non quas similique, obcaecati accusamus aliquam ad molestias quae asperiores.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, pariatur facilis. Tempore quam repellat atque neque fuga, facilis corrupti omnis non quas similique, obcaecati accusamus aliquam ad molestias quae asperiores.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, pariatur facilis. Tempore quam repellat atque neque fuga, facilis corrupti omnis non quas similique, obcaecati accusamus aliquam ad molestias quae asperiores.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, pariatur facilis. Tempore quam repellat atque neque fuga, facilis corrupti omnis non quas similique, obcaecati accusamus aliquam ad molestias quae asperiores.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, pariatur facilis. Tempore quam repellat atque neque fuga, facilis corrupti omnis non quas similique, obcaecati accusamus aliquam ad molestias quae asperiores.