extends common/layout
block variables
  -var pageTitle ='Главная'
block content
  main
    .inner 
      .calculator.tabs
          .row-product
            .block-product.tabs__caption
              span.active Шины
              span Диски
              span По авто
          form.tires.tabs__content.active(action="action.php", method="post")
            .row-parameters
              .block-product
                label Ширина
                  span.tooltip(data-tooltip="Lorem ipsum dolor sit amet") ?
                .select
                  .select__header
                    span.select__current 205
                    .select-arrow-button
                  .select__body
                    .select__item 205
                    .select__item 210
                    .select__item 215
              span.dash /
              .block-product
                label Высота
                  span.tooltip(data-tooltip="Lorem ipsum dolor sit amet") ?
                .select
                  .select__header
                    span.select__current 55
                    .select-arrow-button
                  .select__body
                    .select__item 55
                    .select__item 65
                    .select__item 75
              .block-product
                label Диаметр
                  span.tooltip(data-tooltip="Lorem ipsum dolor sit amet") ?
                .select
                  .select__header
                    span.select__current R 15
                    .select-arrow-button
                  .select__body
                    .select__item R 15
                    .select__item R 16
                    .select__item R 17
              .block-product
                label Производитель
                  span.tooltip(data-tooltip="Lorem ipsum dolor sit amet") ?
                .select
                  .select__header
                    span.select__current Производитель 1
                    .select-arrow-button
                  .select__body
                    .select__item Производитель 1
                    .select__item Производитель 2
                    .select__item Производитель 3
            .row-view
              .season
                .block-view
                  input#check1(type="radio", name="checkbox1") 
                  label(for="check1") Все 
                .block-view
                  input#check2(type="radio", name="checkbox1")
                  label(for="check2") Зима
                .block-view
                  input#check3(type="radio", name="checkbox1")
                  label(for="check3") Лето 
                .block-view
                  input#check4(type="radio", name="checkbox1")
                  label(for="check4") Всесезонные 
              .thorns
                .block-view
                  input#check5(type="radio", name="checkbox2")
                  label(for="check5") Без шипов
                .block-view
                  input#check6(type="radio", name="checkbox2")
                  label(for="check6") Шипованные 
                .block-view
                  input#check7(type="radio", name="checkbox2")
                  label(for="check7") Не важно
            .row-lifetime 
              .block-lifetime 
                input#check8(type="checkbox") 
                label.check(for="check8")
                label.text(for="check8") RunFlat
                  span.question.tooltip(data-tooltip="Lorem ipsum dolor sit amet") ?
              .block-lifetime 
                input#check9(type="checkbox") 
                label.check(for="check9")
                label.text(for="check9") Коммерческие
              .block-lifetime 
                input#check10(type="checkbox")
                label.check(for="check10")
                label.text(for="check10") Распродажа
            .row-select
              button(type="submit") ПОДОБРАТЬ ШИНЫ
          form.wheels.tabs__content(action="action.php", method="post")
            .row-parameters
              .block-product
                label Диаметр
                  span.tooltip(data-tooltip="Lorem ipsum dolor sit amet") ?
                .select
                  .select__header
                    span.select__current Все
                    .select-arrow-button
                  .select__body
                    .select__item Все
                    .select__item 13
                    .select__item 14
              span.dash 
              .block-product
                label PCD
                  span.tooltip(data-tooltip="Lorem ipsum dolor sit amet") ?
                .select
                  .select__header
                    span.select__current Все
                    .select-arrow-button
                  .select__body
                    .select__item Все
                    .select__item 3*112
                    .select__item 4*98
              .block-product
                label Тип
                  span.tooltip(data-tooltip="Lorem ipsum dolor sit amet") ?
                .select
                  .select__header
                    span.select__current Все
                    .select-arrow-button
                  .select__body
                    .select__item Все
                    .select__item Литые
                    .select__item Штампованные
                    .select__item Кованные
              .block-product
                label Производитель
                  span.tooltip(data-tooltip="Lorem ipsum dolor sit amet") ?
                .select
                  .select__header
                    span.select__current Все
                    .select-arrow-button
                  .select__body
                    .select__item Все
                    .select__item Производитель 1
                    .select__item Производитель 2
                    .select__item Производитель 3
            .row-lifetime 
              .block-lifetime 
                input#check11(type="checkbox") 
                label.check(for="check11")
                label.text(for="check11") Распродажа
              .block-lifetime 
                input#check12(type="checkbox")
                label.check(for="check12")
                label.text(for="check12") 4 и более
            .row-select
              button(type="submit") ПОДОБРАТЬ ДИСКИ
          form.by-car.tabs__content(action="action.php", method="post")
            .row-parameters
              .block-product
                label марка
                .select
                  .select__header
                    span.select__current 1 марка
                    .select-arrow-button
                  .select__body
                    .select__item 2 марка
                    .select__item 3 марка
                    .select__item 4 марка
              span.dash 
              .block-product
                label Модель
                .select
                  .select__header
                    span.select__current модель 1
                    .select-arrow-button
                  .select__body
                    .select__item модель 1
                    .select__item модель 2
                    .select__item модель 3
              .block-product
                label Год выпуска
                .select
                  .select__header
                    span.select__current 2000
                    .select-arrow-button
                  .select__body
                    .select__item 2000
                    .select__item 2001
                    .select__item 2002
                    .select__item 2003
              .block-product
                label Модификация
                .select
                  .select__header
                    span.select__current Модификация 1
                    .select-arrow-button
                  .select__body
                    .select__item Модификация 1
                    .select__item Модификация 2
                    .select__item Модификация 3
                    .select__item Модификация 4
            .row-select
              button(type="submit") ПОДОБРАТЬ ПО АВТО
      .stocks
        .row-stocks-1
          .block-stocks
            p Акции
            p
              a(href="") все акции
        .row-stocks-2
          .block-stocks-img-1
            a(href="")
            p.red ШИНОМОНТАЖ В ПОДАРОК!
            p.white Все акции в одном клике
          .block-stocks-img-2
            a(href="")
            p.red Скидка на шиномонтаж зимних шин Nokian Nordman - 1 000 руб.
          .block-stocks-two
            .block-stocks-img-3
              a(href="")
              p.red Бесплатный шиномонтаж зимних шин Viatti
            .block-stocks-img-4
              a(href="")
              p.red Бесплатная диагностика развала-схождения
      .catalog
        .row-catalog-1
          p каталог
        .row-catalog-2
          .block-catalog-1
            a(href="")
            p шины
          .block-catalog-2
            a(href="")
            p диски
          .block-catalog-3
            a(href="")
            p автотовары
          .block-catalog-4
            a(href="")
            p Услуги
          .block-catalog-5
            a(href="")
            p автосервис
      .map
        .list
          h1 Наши центры
          .list-link-map
            .link-map Айвазовского, 2Ас2,АЗС "Роснефть"
            .link-map Айвазовского, 2Ас2,АЗС "Роснефть"
            .link-map Айвазовского, 2Ас2,АЗС "Роснефть"
            .link-map Айвазовского, 2Ас2,АЗС "Роснефть"
            .link-map Айвазовского, 2Ас2,АЗС "Роснефть"
            .link-map Айвазовского, 2Ас2,АЗС "Роснефть"
            .link-map Айвазовского, 2Ас2,АЗС "Роснефть"
            .link-map Айвазовского, 2Ас2,АЗС "Роснефть"
        .map-widget
          iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Ace22685a1579759521be196ca5d2b78c71be7b3c67fda3cf342d44e79bde9550&amp;source=constructor")
      .product-list
        h1 Мы рекомендуем
        .row-product-list-1 
          .block-product-list.tabs__caption
              span.active Шины
              span Диски
              span Сопутсвующие товары
          .block-product-list
            p
              a(href="") показать все
        .row-product-list-2
          .block-product-list
            a(href="")
            +icon('present')  
            img(src="img/block-product-wheel.png", alt="")
            p.name Kumho Ecowing ES01 KH27  
            p.worth от 9180 ₽