extends common/layout
block variables
  -var pageTitle ='shops'

    //- -
    //-   var menu =[
    //-     {link: 'Замена тормозных колодок, дисков, барабанов'},
    //-     {link: 'Комплексная диагностика "Исправный автомобиль"'},
    //-     {link: 'Заправка кондиционера'},
    //-     {link: 'Ходовая часть'},
    //-     {link: 'Рулевое управление'},
    //-     {link: 'Замена ГРМ'},
    //-     {link: 'Замена сцепления'},
    //-     {link: 'Замена топливного фильтра'},
    //-     {link: 'Регламентное ТО'}]
    //-     each a in menu
    //-           a(href="/")=a.link
block content
  main
    .inner 
      .breadcrumb.shops
        a(href="") Главная 
        p – Шинные и сервисные центры
      h2.head-shops Шинные и сервисные центры
      .map
        .row-map
          h1 Наши центры
          .click показать списком
        .list
          h1 Наши центры
          .wrapper
            #container.container
              .list-link-map
                label(for="cities")
                select#cities(name="cities")
                ul#shops
        #map(style="width: 100%; height: 380px;")