extends common/layout
block variables
  -var pageTitle ='zapis-5'

    -
      var menu =[
        {link: 'Замена тормозных колодок, дисков, барабанов'},
        {link: 'Комплексная диагностика "Исправный автомобиль"'},
        {link: 'Заправка кондиционера'},
        {link: 'Ходовая часть'},
        {link: 'Рулевое управление'},
        {link: 'Замена ГРМ'},
        {link: 'Замена сцепления'},
        {link: 'Замена топливного фильтра'},
        {link: 'Регламентное ТО'}]
block content
  main
    .inner 
      .breadcrumb.zapis-5
        a(href="") Главная 
        a(href="") – Запись на услуги 
        p – Замена тормозных колодок, дисков, барабанов в Воронеже в Воронеже
      h2.head-zapis-5 Замена тормозных колодок, дисков, барабанов в Воронеже
      .container-zapis-5
        .col-1
          .text-1
            p Профессиональная плановая замена элементов тормозной системы.
            p В зависимости от марки, модели и комплектации конкретного автомобиля, тормозные системы могут отличаться.
            p Плановые работы по замене включают себя следующие виды:
            ul
              li Замена передних тормозных колодок и дисков 
              li Замена задних тормозных колодок и дисков
              li для а/м с стояночным тормозом в суппорте
              li для а/м с механизмом стояночного тормоза внутри тормозного диска
              li Замена тормозных барабанов и колодок
              li для а/м с механизмом стояночного тормоза внутри барабана
          a.subscribe(href="/") записаться на услуги
          .block-img
            img(src="img/zapis-img-1.jpg", alt="Замена тормозных барабанов и колодок")
          .block-video
            iframe(src="https://www.youtube.com/embed/1bIysW5rsBE?enablejsapi=1&amp;origin=https%3A%2F%2Fvrn.koleso.ru")
          .text-2
            p 
              b Диагностика автомобиля включает в себя проверку по следующим пунктам:
            ol
              li Проверка уровня и качества технических жидкостей (масло в двигателе, тормозная жидкость, жидкость ГУР, охлаждающая жидкость).
              li Проверка состояния передней и задней подвески автомобиля.
              li Диагностика углов установки колес (развал-схождение).
              li Проверка тормозной системы автомобиля, состояние тормозных колодок и тормозных дисков, шлангов и трубок магистралей, проверка работы ручного тормоза.
              li Проверка состояние приводных ремней вспомогательных агрегатов.
              li Чтение кодов неисправностей в электронных блоках.
              li Проверка работы системы очистки стекол, контроль состояния щеток стеклоочистителя.
              li Визуальный осмотр узлов и агрегатов автомобиля на предмет повреждений или протечек.
              li Проверка работы фар указателей поворота, стоп-сигналов, габаритных огней, противотуманных фар и аварийной сигнализации.
              li Проверка колес автомобиля, состояние шин, дисков, контроль давления в шинах.
            p Требуемое время на проверку автомобиля: 
              b 1.5 часа
            p Диагностика по акции «Исправный автомобиль» производится - 
              b бесплатно.
          .text-3
            h2 Последствия обрыва ремня ГРМ
            p В большинстве двигателей современных автомобилей в одном блоке находятся как поршни, так и клапана. Ремень ГРМ не дает им «встретиться». Если вдруг произошел обрыв ремня ГРМ, поршень встречается с клапаном, со страшной силой по нему ударяет и гнет его. Все это в 99% случаев приводит к капитальному ремонту двигателя автомобиля. А это в разы дороже обычной замены ремня ГРМ.
          .galerys
            p Фотогалерея 
            .galerys-row
              a.fancybox(rel="group" href="img/zapis-img-1.jpg")
                img(src="img/zapis-img-1.jpg" alt="")
        .col-2
          .menu
            each a in menu
              a(href="/")=a.link
          .question
            .question-icon
              +icon('tires2')
            .question-text Вы можете задать вопрос или высказать предложения по улучшению нашей работы.
            .question-button
              a(href="/") Задать вопрос
          .news
            .news-item-row-1
              p Новости
              p 
                a(href="/") Все новости
            .news-item-row-2
              .news-item-row-2-data 12-06-2020
              .news-item-row-2-text 
                a(href="/") Пусть ваша дорога будет гладкой и ровной, а на пути всегда горит зеленый свет!
            .news-item-row-2
              .news-item-row-2-data 22-05-2020
              .news-item-row-2-text 
                a(href="/") Компания Pirelli запускает благотворительный проект совместно с Русфондом, направленный на борьбу с пандемией.