extends common/layout
block variables
  -var pageTitle ='zapis-4'
block content
  main
    .inner 
      .breadcrumb 
        a(href="") Главная 
        a(href="") – Запись на услуги 
        p – Запись на услугу "Легковой шиномонтаж"
      h2.zapis Запись на услугу "Легковой шиномонтаж"
      .address
        strong Вы записаны на шиномонтаж по адресу:
        p Москва, Верейская ул., д.7, стр.2
      .date
        strong Дата записи: 
          span 08.10.2019
        strong Время записи: 
          span 15:00
      .appeal 
        .attention
          +icon('attention')  
        .text
          h1 Обращаем Ваше внимание
          p Администратор шиномонтажа, за день до даты записи на шиномонтаж, в подтверждение заказа, связывается с клиентом по телефону, либо отсылает смс уведомление.
          p Если с вами по каким либо причинам не связались за один день до записи, просьба подтвердить Вашу заявку по тел. 8 (495) 544-02-02. В случае не подтверждения заявки администрация шиномонтажа оставляет за собой право аннулировать Вашу заявку.
          p Убедительная просьба подъезжать к назначенному времени, с заранее выбранными шинами и дисками. Если Вы еще не купили шины и диски, но планируете это сделать, просьба приезжать минимум за 30 минут до времени записи. Обращаем Ваше внимание на то, что в случае опоздания обслуживание будет проводиться в порядке общей очереди. Во избежание недоразумений, просим Вас подъехать за 15 минут до выбранного времени. Услуга шиномонтажа действует только на ОДНУ машину, указанную в записи.
          p Если у Вас имеются шины, сданные на сезонное хранение, которые Вы хотите установить у нас, просим Вас записываться на шиномонтаж заранее, не менее чем за пять дней и сразу ставить в известность персонал шиномонтажа.