@font-face {
  font-family: 'PTSansCaption';
  font-display: swap;
  src: url('../fonts/PTSansCaption-Regular.eot');
  src: url('../fonts/PTSansCaption-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PTSansCaption-Regular.woff2') format('woff2'),
    url('../fonts/PTSansCaption-Regular.woff') format('woff'),
    url('../fonts/PTSansCaption-Regular.ttf') format('truetype'),
    url('../fonts/PTSansCaption-Regular.svg#PTSansCaption-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PTSansCaption';
  font-display: swap;
  src: url('../fonts/PTSansCaption-Bold.eot');
  src: url('../fonts/PTSansCaption-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PTSansCaption-Bold.woff2') format('woff2'), 
    url('../fonts/PTSansCaption-Bold.woff') format('woff'),
    url('../fonts/PTSansCaption-Bold.ttf') format('truetype'),
    url('../fonts/PTSansCaption-Bold.svg#PTSansCaption-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
