@import '../mixins/media';

.breadcrumb {
  @include media-laptop {
    width: 98%;
    margin: 25px auto 20px auto;
  }
  @include media-mobile {
    width: 98%;
    margin: 25px auto 20px auto;
  }
}
h1 {
  font: 400 29px/33px $font;
  color: #222;
  margin-bottom: 40px;
  @include media-laptop {
    width: 98%;
    margin: 0 auto 30px auto;
  }
  @include media-tablet {
    font: 400 18px/23px $font;
  }
  @include media-mobile {
    width: 98%;
    margin: 0 auto 30px auto;
  }
}
.actions {
  margin-bottom: 60px;
  @include media-laptop {
    width: 98%;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  @include media-mobile {
    width: 98%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .row-actions {
    &-1 {
      .poster {
        @include media-mobile {
          position: relative;
          overflow: hidden;
          height: 120px;
        }
        a {
          transition: 0.3s;
          img {
            @include media-mobile {
              position: absolute;
              top: 50%;
              left: 148%;
              transform: translate(-50%, -50%);
              height: 96px;
              object-fit: cover;
              max-width: none;
            }
          }
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
    &-2,
    &-3 {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      @include media-tablet-horizontal {
        justify-content: space-evenly;
      }
      .block-actions {
        width: 250px;
        margin: 30px 0;
        @include media-tablet-horizontal {
          margin: 30px 5px;
          width: 33%;
        }
        @include media-tablet {
          margin: 15px 5px;
          width: 250px;
        }
        @include media-mobile {
          width: 100%;
          margin: 15px 0;
        }
        a {
          transition: 0.3s;
          img {
            width: 100%;
          }
          &:hover {
            opacity: 0.7;
          }
          p {
            font: 400 15px/23px $font;
            color: #222;
            margin-top: 15px;
          }
        }
      }
    }
  }
}
