@import '../mixins/media';

.breadcrumb {
  font: 400 13px/22px $font;
  color: #aaa;
  margin: 25px 0 20px 0;
  @include media-laptop {
    width: 95%;
    margin: 25px auto 20px auto;
}
@include media-mobile {
  width: 98%;
  margin: 25px auto 20px auto;
}
  a {
    display: inline-block;
    color: #222;
    transition: 0.3s;
    &:hover {
      opacity: 0.7;
    }
  }
  p {
    display: inline-block;
  }
}
h1 {
  font: 400 29px/33px $font;
  color: #222;
  margin-bottom: 30px;
  @include media-laptop {
    width: 95%;
    margin: 0 auto 30px auto;
  }
  @include media-tablet {
    font: 400 18px/23px $font;
  }
}
.filter {
  display: flex;
  margin-bottom: 60px;
  @include media-laptop {
    width: 95%;
    margin: 0 auto 60px auto;
  }
  @include media-mobile {
    width: 98%;
    margin: 0 auto 40px auto;
  }
  .block-filter {
    width: 250px;
    min-width: 250px;
    @include media-tablet {
      display: none;
    }
    .filter-auto-drop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #e5e5e5;
      padding: 10px 20px;
      cursor: pointer;
      p {
        font: 700 13px/22px $font;
        color: #222;
      }
      svg {
        width: 12px;
        height: 6px;
      }
    }
    .filter-parameters-drop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #e5e5e5;
      border-top: 1px solid transparent;
      padding: 10px 20px;
      cursor: pointer;
      transition: 0.3s;
      p {
        font: 700 13px/22px $font;
        color: #222;
      }
      svg {
        transition: 0.3s;
        width: 12px;
        height: 6px;
      }
    }
    .filter-parameters-drop.active, .filter-auto-drop.active {
      border: none;
      background: #f9f9fa;
      transition: 0.3s;
      svg {
        transition: 0.3s;
        transform: rotate(180deg);
      }
    }
    .dropdown-parameters, .dropdown-auto {
      background: #f9f9fa;
      display: none;
      .summ {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 15px 20px;
        border-bottom: 1px solid #e5e5e5;
        label {
          display: block;
          width: 100%;
          font: 400 13px/22px $font;
          color: #555;
        }
        .block-summ {
          margin-top: 12px;
          .number {
            width: 90px;
            border: 1px solid #e5e5e5;
            border-radius: 5px;
            font: 400 13px/22px $font;
            color: #555;
            padding: 4px 10px;
          }
        }
        span {
          font: 400 13px/22px $font;
          color: #000;
          margin-top: 8px;
        }
       #slider-range {
         position: relative;
        width: 95%;
        height: 3px;
        background: #e5e5e5;
        border-radius: 2px;
        margin: 30px 0 7px 0;
        display: flex;
        align-items: center;
         .ui-slider-handle {
           width: 18px;
           height: 18px;
           background: #fff;
           border: 3px solid #e22f22;
           position: absolute;
            z-index: 2;
            cursor: default;
            touch-action: none;
            border-radius: 50%;
            margin: 0;
         }
         .ui-slider-range {
          background: #e22f22;
          border-radius: 3px;
          position: absolute;
          height: 100%;
          z-index: 1;
          display: block;
         }
       }
       .number-summ {
         display: flex;
         justify-content: space-between;
         align-items: center;
         width: 100%;
         p {
          font: 400 12px/18px $font;
          color: #aaa;
         }
       }
      }
      .calculator {
        margin: 0;
        padding: 0;
        box-shadow: none;
        .tires {
          padding: 15px 20px;
          .scroll-pane {
            overflow: unset !important;
            .scroll-pane
            {width: 300px;
            height: 200px;
            overflow: unset;}
            
            .jspContainer{
            overflow: hidden;
            position: relative;
            }
            
            .jspPane{
            position: absolute;
            }
            
            .jspVerticalBar{
            position: absolute;
            top: 0;
            right: 0;
            width: 10px;
            height: 100%;
            }
            
            .jspHorizontalBar{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 1px;
            height: 16px;
            background: red;
            }
            
            .jspCap{
            display: none;
            }
            
            .jspHorizontalBar .jspCap{
            float: left;
            }
            
            .jspTrack{
            background: #e5e5e5;
            position: relative;
            width: 1px;
            height: 290px !important;
            padding-top: 15px;
            }
            
            .jspDrag{
            background: #e22f22;
            position: relative;
            top: 0;
            left: -2.5px;
            height: 20% !important;
            width: 5px;
            border-radius: 5px;
            cursor: pointer;
            }
            
            .jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag{
            float: left;
            height: 100%;
            }
            
            .jspArrow{
            background: #50506d;
            text-indent: -20000px;
            display: block;
            cursor: pointer;
            padding: 0;
            margin: 0;
            }
            
            .jspArrow.jspDisabled{
            cursor: default;
            background: #80808d;
            }
            
            .jspVerticalBar .jspArrow{
            height: 16px;
            }
            
            .jspHorizontalBar .jspArrow{
            width: 10px;
            float: left;
            height: 100%;
            }
            
            .jspVerticalBar .jspArrow:focus{
            outline: none;
            }
            
            .jspCorner{
            background: #eeeef4;
            float: left;
            height: 100%;
            }
          }
          &::before {
            display: none;
          }
          .row-parameters {
            position: relative;
            justify-content: flex-start;
            flex-wrap: wrap;
            padding-bottom: 15px; 
            &::before {
              content: '';
              position: absolute;
              bottom: 0;
              left: -20px;
              height: 1px;
              width: 250px;
              border-bottom: 1px solid #e5e5e5;
            }
            .block-product {
              margin: 0;
              .select.is-active {
                .select__body {
                  z-index: 2;
                }
              }
              .select__header {
                padding: 4px 50px 4px 10px;
                background: #fff;
              }
              label {
                margin: 0;
                margin-bottom: 12px;
                span {
                  background: #fff;
                }
              }
              &:nth-child(4) {
                width: 100%;
                label {
                  margin: 15px 0 12px 0;
                }
              }
            }
            .dash {
              margin: 0 13px 10px 13px;
            }
          }
          .row-lifetime {
            flex-wrap: wrap;
            margin-top: 15px;
            padding-bottom: 7.5px;
            position: relative;
            &::before {
              content: '';
              position: absolute;
              bottom: 0;
              left: -20px;
              height: 1px;
              width: 250px;
              border-bottom: 1px solid #e5e5e5;
            }
            p {
              font: 400 13px/22px $font;
              color: #555;
              width: 100%;
              margin-bottom: 13px;
            }
            .block-lifetime {
              width: 100%;
              margin: 0;
              justify-content: flex-start;
              margin-bottom: 7px;
              label {
                .question {
                  background: #fff;
                }
              }
              input[type='radio'] {
                display: none;
              }
              .check {
                background: #fff;
                min-width: 20px;
              }
              input {
                &:checked + .check {
                  background: #555;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  &::before {
                    content: '';
                    position: absolute;
                    background: url('../img/check.png') no-repeat;
                    background-size: contain;
                    width: 10px;
                    height: 8px;
                    opacity: 1;
                  }
                }
              }
            }
          }
          .row-select {
            text-align: center;
            button {
              padding: 10px 42px;
            }
          }
        }
      }
    }
    .dropdown-auto {
      .calculator {
        .tires {
          .row-parameters {
            .block-product {
              width: 100%;
              label {
                margin-top: 15px;
              }
            }
          }
          .row-lifetime {
            .block-lifetime {
              .check {
                border-radius: 50%;
              }
              input {
                &:checked + .check {
                  background: #fff;
                  border: 6px solid #e22f22;
                  &::before {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
    .dropdown-parameters {
      .calculator {
        .tires {
          .row-parameters {
            .block-product {
              width: auto;
              label {
                margin-top: 15px;
              }
            }
          }
          .row-lifetime {
            .block-lifetime {
              input {
                &:checked + .check {
                  background: #555;
                  &::before {
                    display: flex;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .catalog {
    margin-left: 10px;
    width: 100%;
    .on-popularity {
      margin: 0;
      padding: 0;
      background: transparent;
      box-shadow: none;
      border-radius: unset;
      @include media-tablet {
        display: block;
      }
      .tires {
        &::before {
          display: none;
        }
        .row-parameters {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          margin-bottom: 10px;
          .block-grid {
            display: flex;
            align-items: center;
            @include media-tablet {
              display: none;
            }
            .grid {
              &-1
              ,&-2
              ,&-3 {
                cursor: pointer;
                transition: 0.3s;
                svg {
                  width: 24px;
                  height: 24px;
                }
                &:hover {
                  opacity: 0.7;
                }
              }
              &-2 {
                margin: 0 15px;
              }
            }
          }
          .block-filter-mobile {
            display: none;
            align-items: center;
            cursor: pointer;
            transition: 0.3s;
            @include media-tablet {
              display: flex;
            }
            &:hover {
              opacity: 0.7;
            }
            p {
              font: 400 13px/22px $font;
              color: #e22f22;
            }
            svg {
              width: 18px;
              height: 18px;
              margin-right: 7px;
            }
          }
        }
      }
    }
  }
}
.actions-card.tires {
  margin-bottom: 30px;
  .product-list {
    .row-product-list-2 {
      justify-content: flex-start;
      margin-top: 10px;
      @include media-tablet {
        justify-content: center;
      }
      .block-product-list {
        min-width: 178px;
        margin: 0;
        @include media-laptop {
          &:nth-child(12) {
            display: none;
          }
        }
        @include media-tablet-horizontal {
          &:nth-child(11) {
            display: none;
          }
        }
        @include media-tablet {
          min-width: 150px;
          width: 150px;
        }
        @include media-mobile {
          min-width: 94px;
          width: 103px;
        }
        &:hover {
          transform: scale(1);
        }
      }
    }
  }
}
      .calculator.on-popularity {
        .row-parameters {
          .block-product {
            .select {
              .select__body {
                z-index: 2;
              }
            }
          }
        }
      }
.swiper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .icon-left, .icon-right {
    svg {
      width: 11px;
      height: 24px;
    }
  }
  .swiper-button-prev {
    position: static;
    &::after {
      display: none;
    }
  }
  .swiper-button-next {
    position: static;
    &::after {
      display: none;
    }
  }
  .swiper-pagination {
    position: static;
    height: 44px;
    .swiper-pagination-bullet {
      font: 700 15px/23px $font;
      color: #555;
      background: transparent;
      width: 24px;
      height: 24px;
      margin: 0 7.5px;
      opacity: 1;
      transition: 0.3s;
    }
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #e22f22;
    border-radius: 5px;
    color: #fff;  
    transition: 0.3s;
  }
  .swiper-container-thumbs {
    display: none;
  }
}
.pluses {
  background: #f9f9fa;
  padding: 18px 0 18px 80px;
  margin-bottom: 30px;
  p {
    font: 400 13px/22px $font;
    color: #555;
    display: inline-block;
    margin-bottom: 10px;
    &:nth-child(2) {
      margin-bottom: 0;
    }
    svg {
      width: 9px;
      height: 7px;
      margin-right: 12px;
    }
  }
}
.answers {
  margin-bottom: 60px;
  h1 {
    font: 700 15px/23px $font;
    color: #222;
    margin-bottom: 15px;
  }
  p {
    font: 400 13px/22px $font;
    color: #555;
    margin-bottom: 20px;
    &:nth-child(4) {
      margin-bottom: 0;
    }
  }
}