@import '../mixins/media';

.breadcrumb.shops {
  @include media-laptop {
    width: 98%;
    margin: 25px auto 20px auto;
  }
  @include media-tablet {
    width: 98%;
  }
  @include media-mobile {
    width: 98%;
  }
}
.head-shops {
  font: 400 29px/33px $font;
  color: #222;
  margin-bottom: 40px;
  @include media-laptop {
    width: 98%;
    margin: 0 auto 40px auto;
  }
  @include media-tablet-horizontal {
    width: 98%;
    margin: 0 auto 40px auto;
  }
  @include media-tablet {
    font: 400 18px/23px $font;
  }
  @include media-mobile {
    width: 98%;
    margin: 0 auto 20px auto;
  }
}
