@import '../mixins/media';

.breadcrumb {
  font: 400 13px/22px $font;
  color: #aaa;
  margin: 25px 0 20px 0;
  a {
    display: inline-block;
    color: #222;
    transition: 0.3s;
    &:hover {
      opacity: 0.7;
    }
  }
  p {
    display: inline-block;
  }
  @include media-laptop {
    width: 90%;
    margin: 25px auto 20px auto;
}
@include media-mobile {
  width: 98%;
  margin: 25px auto 20px auto;
}
}
.head {
  font: 400 29px/33px $font;
  color: #222;
  margin-bottom: 40px;
  @include media-laptop {
    width: 90%;
    margin: 0 auto 30px auto;
  }
  @include media-tablet {
    font: 400 18px/23px $font;
  }
  @include media-mobile {
    width: 98%;
    margin: 0 auto 30px auto;
  }
}
.actions-card {
  margin-bottom: 60px;
  @include media-laptop {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 60px;
}
@include media-tablet {
  width: 98%;
  margin: 0 auto;
  margin-bottom: 40px;
}
@include media-mobile {
  width: 98%;
  margin: 0 auto;
  margin-bottom: 40px;
}
  .row-actions-card {
   &-2 {
     .text {
       h2 {
         font: 700 15px/23px $font;
         color: #222;
         margin: 50px 0 15px 0;
       }
       p {
        font: 400 13px/22px $font;
        color: #222;
        margin-bottom: 15px;
       }
     }
   }
   &-3 {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 35px;
     h2 {
      font: 700 20px/22px $font;
      color: #222;
      text-transform: uppercase;
     }
     p {
      position: relative;
      font: 400 13px/22px $font;
      color: #555;
      padding-bottom: 2px;
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        border-top: 1px dotted #555;
      }
      a {
        transition: 0.3s;
        &:hover {
          opacity: 0.7;
        }
      }
     }
   }
  }
  .product-list {
    margin-bottom: 10px;
    overflow-y: unset;
    width: 100%;
    .row-product-list-2 {
      width: 100%;
      height: auto;
      flex-wrap: wrap;
      justify-content: center;
      @include media-mobile {
        justify-content: center;
      }
      .block-product-list {
        position: relative;
        margin: 0;
        background: #fff;
        transition: 0.3s;
        margin-top: 30px;
        margin-right: 10px;
        @include media-laptop {
          &:nth-child(9), &:nth-child(10)  {
            display: none;
          }
        }
        @include media-tablet-horizontal {
          &:nth-child(7), &:nth-child(8)  {
            display: none;
          }
        }
        @include media-tablet {
          margin-right: 0;
          margin-top: 0;
          &:nth-child(7), &:nth-child(8)  {
            display: none;
          }
          .view-hover {
            left: 10px;
            padding: 9px 9px;
          }
        }
        @include media-mobile {
          width: 145px;
          min-width: 145px;
          margin-top: 0;
        }
        .number-hover {
          margin-top: 10px;
          opacity: 1;
        }
        .worth {
          margin-bottom: 40px;
          margin-top: 15px;
        }
        .worth-hover {
          transform: scaleY(1);
          position: absolute;
          bottom: 70px;
          left: 20px;
          display: none;
        }
        .row-form {
          position: absolute;
          bottom: 20px;
          left: 20px;
          transform: scaleY(1);
          display: none;
          .input-group {
            margin-right: 10px;
          }
          @include media-tablet {
            flex-wrap: wrap;
            justify-content: center;
            left: 10px;
            bottom: 10px;
            .input-group, .add-cart {
              margin-top: 5px;
              margin-right: 0;
            }
            .input-group {
              .button-minus {
                padding: 1px 10px;
              }
              .num-count {
                padding: 1px 10px;
              }
              .button-plus {
                padding: 1px 10px;
              }
            }
            .add-cart {
              button {
                svg {
                  width: 14px;
                  height: 14px;
                }
              }
            }
          }
        }
        &:hover {
          z-index: 1;
          transform: scale(1.2);
          .row-form {
            display: flex;
          }
          .worth-hover {
            display: block;
          }
        }
      }
    }
  }
  .row-actions-card-5 {
    margin-top: 40px;
    a {
      font: 400 13px/22px $font;
      color: #e22f22;
      transition: 0.3s;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}